/* app css stylesheet */

body,html {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 240px;
    height: 320px;
    background: url("assets/themes/banbao-v1/background.jpg") no-repeat;
    background-size: 100% 100%;
    color: white;
}

body{
    cursor: none;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 270px;
}

#content.fullscreen {
    height: 320px;
}

#footer {
    height: 25px;
    margin: 2px 4px;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /* min-height: 270px; */
    min-width: 240px;
}

.card {
    box-sizing: border-box;
    width: 90px;
    border: 1px solid transparent;
    /* border: 1px solid white; */
    border-radius: 15%;
    background-color: transparent;
    /* padding: 8px 15px; */
    margin: 20px 15px;
    font-size: 12px;
}

.card-small {
    width: 80px;
    border-radius: 15%;
    background-color: transparent;
    padding: 0px;
    margin: 6px 20px;
    font-size: 10px;
}

.img-holder {
    padding: 3px 12px 0px;
}

.active {
    background-color: rgb(0, 174, 188);
}

.card .card-img-top {
    width: 64px;
    height: 64px;
}

.card-small .card-img-top {
    width: 54px;
    height: 54px;
}

.card-body {
    padding: 0 2px;
    text-align: center;
}

.card-body span {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    /* max-width: 74px; */
    display: block;
}

p {
    color: aliceblue;
}

#chart {
    width: 240px;
    height: 270px;
    border: none;
}

.blank {
    padding: 40% 0;
    width: 240px;
    height: 270px;
    color: white;
    text-align: center;
}

.mdl-menu__item {
    height: 30px;
    line-height: 30px;
}

.mdl-switch__label {
    color: black;
}

video, audio, .image {
    width: 240px;
    max-height: 295px;
}

.horizontal {
    width: 320px;
    height: 240px;
    transform: rotate(-90deg);
    position: absolute;
    left: -40px;
    top: 40px;
    background-color: black;
}